* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  padding: 0 5rem;
  background-image: url(images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.logo {
  width: 15rem;
  /* height: 2rem; */
}

p {
  font-size: 1.8rem;
}

.related {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.mockups {
  width: 60rem;
}

.get-started {
  border: none;
  padding: 1.2rem 3rem;
  margin: 2rem 0;
  border-radius: 2rem;
  background-color: hsl(322, 100%, 66%);
  color: white;
}

.post h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.navigation button {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
}

.free {
  background-color: white;
  padding: 0.5rem 6rem;
}
/* section t--2 */
.grow-together {
  display: flex;
  align-items: center;
  gap: 5rem;
}

h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.illustration-grow {
  width: 40rem;
}

.t--2 {
  /* padding: 5rem 10rem; */
  margin: 10rem 10rem;
  box-shadow: 0.5rem 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.057);
}
.related-post {
  padding: 1rem 5rem;
}

.community {
  width: 50rem;
  margin: 5rem 40rem;
  padding: 5rem 3rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.087);
  text-align: center;
}

.community h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.svg {
  width: 15rem;
  margin-bottom: 2rem;
  color: white;
}

.for-free {
  color: white;
  background-color: hsl(322, 100%, 66%);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
}
.social-media {
  display: flex;
  gap: 2rem;
  margin-bottom: 10rem;
}

.content {
  display: flex;
  gap: 10rem;
}

.content p {
  color: white;
  margin-bottom: 2rem;
}

.conclusion {
  padding: 1rem 2rem;
  width: 30rem;
}

.s--1 {
  width: 30rem;
}

footer {
  padding-top: 10rem;
  padding-bottom: 2rem;
  padding: 10rem 8rem;
  background-color: hsl(192, 100%, 9%);
}
